@using LotusRMS.Models.Viewmodels.Order;
@model IEnumerable<OrderMenu>




    <div class=" search-bar">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" onkeyup="mySearchFunction(this);">
        <i class="bi bi-search text-primary"></i>


    </div>
    <table class="table table-striped tableSearch">
        <thead>
            <tr>
                <th scope="col" class="text-start">Item Name</th>
                <th scope="col" class="text-start">Price</th>
                <th scope="col" class="text-center"></th>

            </tr>
        </thead>
        <tbody class="menu-tbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-start">@item.Item_Name</td>
                    <td class="text-start"> <span>@item.Rate</span>/-</td>

                    <td class="text-center">
                        <form class="menuForm"
                          asp-action="Selectmenu"
                          asp-controller="home"
                          asp-area="Order"
                          asp-route-MenuId="@item.Id"
                              data-ajax=true
                              data-ajax-update="#AddmenuSection"
                              data-ajax-loading="#overlay">
                            <button type="submit" data-bs-toggle="modal"
                                    data-bs-target="#addMenuModal">
                                <i class="fa-solid fa-circle-plus text-primary"></i>
                            </button>
                        </form>
                    </td>

                </tr>

            }
        </tbody>
    </table>



