@using LotusRMS.Models.Viewmodels.Order
@model IEnumerable<AddNewOrderVM>


<table class="table table-striped">
    <thead>
        <tr>
            <th>S.N</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach(var item in Model)
        {
            <partial name="_OrderItem" model="@item"/>
        }
    </tbody>
</table>