@using LotusRMS.Models.Viewmodels.Order
@model AddNewOrderVM

<tr>
    <td></td>
    <td>@Model.Item_Name</td>
    <td>@Model.Quantity</td>
    <td>@Model.Rate</td>
    <td>@Model.Total</td>
    <td>
        <button >Delete</button>
    </td>
</tr>
