@model IEnumerable<LotusRMS_Table>


<div class="tab-pane fade show active" id="cabin" role="tabpanel" aria-labelledby="cabin-tab">
    <div class="tab-content-container">

        <div class="tab-content-container d-flex">
            @foreach (var item in Model)
            {

                <div class="form-btn">
                    <form class="TableForm"
                      asp-action="getOrder"
                      asp-controller="home"
                      asp-area="order"
                      asp-route-id="@item.Id"
                      tableId="@item.Id"
                      data-ajax="true"
                      data-ajax-success="afterTableSuccess(this)"
                      data-ajax-update="#orderSection"
                      data-ajax-loading="#overlay">
                        @if (item.IsReserved)
                        {
                            <button type="submit" class="tab-content-item booked">@item.Table_Name </button>
                            
                        }
                        else
                        {
                        <button type="submit" class=" tab-content-item free-table">@item.Table_Name</button> 
                        }
                        
                    </form>
                </div>
            }
        </div>
    </div>
</div>


<script>
    function afterTableSuccess(form){
        $(".TableForm").children("button").removeClass("tableSelected");
        $(form).children("button").addClass("tableSelected");

        var table_No = $(form).attr("tableId");
        $('.menuForm').attr('action', function (i, value) {

            var action = value.split("&");
            return action[0] + "&tableId=" + table_No;
        });
    }
</script>