@model IEnumerable<LotusRMS_Table_Type>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/css/order.css" rel="stylesheet">
<partial name="_TableType" model="@Model" />

<div class="row">
    <div class="col-md-5" id="menuSection">
        <partial name="_menu" model="@ViewBag.Menu" />


    </div>
    <div class="col-md-7">
        <div id="orderSection">
        </div>

    </div>


</div>

<div class="modal fade" id="addMenuModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" id="AddmenuSection">
    </div>
</div>
<div class="modal fade" id="modalDialogScrollable" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-titles h5">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <partial name="_menu" model="@ViewBag.Menu" />
        </div>
    </div>
</div>


@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}