@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card p-3">
   <div class="card-title d-flex align-items-center justify-content-between">
       <p>Date: <span class="fs-5 text-dark">04/17/2023</span></p>
        
        <p><button type="button" class="btn btn-primary me-1">Withdraw Galla</button><button type="button" class="btn btn-danger">Close Galla</button></p>
   </div>
    <div class="card-title d-flex align-items-center justify-content-between py-0">
        <p>Opening Balance: <span class="fs-5 text-dark">510.00</span></p>
        <p>Closing Balance: <span class="fs-5 text-dark">2340.25</span></p>
        <p>Withdrawal amount: <span class="fs-5 text-dark">0</span></p>
    </div>
</div>
<div class="card p-3">
    <div class="card-title pt-0 text-center">
        Transactions Details
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-start">Time</th>
                    <th scope="col" class="text-start">Deposits</th>
                    <th scope="col" class="text-start">Withdraw</th>
                    <th scope="col" class="text-start">Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10:42 AM</td>
                    <td>200</td>
                    <td>350</td>
                    <td>2200</td>
                </tr>
                <tr>
                    <td>10:50 AM</td>
                    <td>100</td>
                    <td>1021.50</td>
                    <td>2875.50</td>
                </tr>
                <tr>
                    <td>11:50 AM</td>
                    <td>825</td>
                    <td>0</td>
                    <td>3300.50</td>
                </tr>
                <tr>
                    <td>12:35 PM</td>
                    <td>0</td>
                    <td>5840</td>
                    <td>1190</td>
                </tr>
                <tr>
                    <td>13:16 PM</td>
                    <td>650</td>
                    <td>890</td>
                    <td>2560</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

