/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.cameraWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    position: relative;
}

    .cameraWrapper #qr-canvas {
        height: 100%;
        width: 100%;
    }
    .cameraWrapper #qr-canvas video{
        height: 100% !important;
        width: 100% !important;
    }

    .cameraWrapper #codeReader {
        height: 100%;
        width: 100%;
        border: 1px solid blue;
    }

    .cameraWrapper #imageForm {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
