@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<h3>
An email with a password reset link was send to your email address, 
open link and follow the instruction.</h3>
