@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<style>
    .supplier-details p {
        margin-bottom: 0 !important;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body px-4">
                    <div class="mb-4">
                        <h1 class="card-title text-primary">Supplier</h1>
                        <div class="containers d-flex flex-column flex-md-row justify-content-between">
                            <div class="supplier-details">
                                <div class="rmb-1 fw-bold">
                                    <span class="">Supplier Name :</span> <span class="js-supplier-name">Abc Company Pvt Ltd</span>
                                </div>
                                <div class="text-secondary">
                                    <span class=" ">Address :</span> <span class="js-supplier-address">Birtamode, Jhapa</span>
                                </div>
                                <div class="text-secondary">
                                    <span class=" ">Contact No :</span> <span class="js-supplier-contact ">+977 9744334848</span>
                                </div>
                                <div class="text-secondary">
                                    <span class="  ">Pan No :</span> <span class="js-supplier-pan ">4468781</span>
                                </div>
                            </div>
                            <div class="bill-info me-5">

                                <p class="mb-0">Bill No: <span class="js-bill-no text-secondary">78842</span></p>
                                <p class="">Bill Date: <span class="js-bill-date text-secondary">02 June 2023</span></p>
                            </div>
                        </div>
                    </div>



                    <div>
                        <h1 class="card-title text-primary">Purchased Details:</h1>
                        <table id="tblData" class="table table-striped table-bordered" style="width:100%">
                            <thead class="thead-dark">
                                <tr class="table-info">
                                    <th>
                                        Item Name
                                    </th>
                                    <th>
                                        Unit
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Rate
                                    </th>
                                    <th>
                                        Total
                                    </th>

                                </tr>

                            </thead>

                            <tbody>
                                <tr>
                                    <td>Chicken</td>
                                    <td>kg</td>
                                    <td>5</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td>Fish</td>
                                    <td>kg</td>
                                    <td>2</td>
                                    <td>300</td>
                                    <td>600</td>
                                </tr>
                            </tbody>
                            <tfoot class="font-weight-bold " style="background-color: whitesmoke;">
                                <tr class="odd">
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td>Total</td>
                                    <td>
                                        <span>

                                        </span>/-
                                    </td>

                                </tr>
                            </tfoot>
                        </table>

                    </div>
                    <div class="summary-section-container d-flex align-items-end justify-content-between">
                        <div class="summary w-50">
                            <div class="card-title text-primary py-0 mt-2">Summary</div>
                            <div class="summary-details ">
                                <div class="discount row"><span class="col-xxl-4 col-xl-5  col-md-6 col-sm-8">Discount : </span><span class="col-md-3 col-sm-4">50</span></div>
                                <div class="bill-total row"><span class=" col-xxl-4 col-xl-5  col-md-6 col-sm-8">Bill Total : </span><span class="col-md-3 col-sm-4">550</span></div>
                                <div class="paid-amount row"><span class="col-xxl-4 col-xl-5  col-md-6 col-sm-8">Paid Amount : </span><span class="col-md-3 col-sm-4">100</span></div>
                                <div class="payment-method row"><span class="col-xxl-4 col-xl-5  col-md-6 col-sm-8">Payment Method : </span><span class=" col-md-3 col-sm-4">Cash</span></div>
                                <div class="due-payment text-danger row"><span class="col-xxl-4 col-xl-5  col-md-6 col-sm-8 ">Due Payment : </span><span class="col-md-3 col-sm-4">450</span></div>
                            </div>
                        </div>
                        <div class="print-button">
                            <a class="btn btn-primary">Print</a>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>