@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .file-upload-icon{
        font-size:2.5rem;
        cursor:pointer;
        color: #2593e2;
    }
</style>
<link rel="stylesheet" href="~/css/qrcodestyles1.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
<div class="cameraWrapper">
   @* <button type="button" id="btn-scan-qr" class="btn btn-secondary btn-lg scan-btn fw-bold">Scan Here</button>*@

    <canvas hidden="" id="qr-canvas"></canvas>
    <form action="#" id="imageForm" hidden>
        <input type="file" hidden>
        <div class="content">
            <i class="fa-solid fa-file-arrow-up file-upload-icon"></i>
        </div>
    </form>
   </div>
<script src="~/js/qrcodescanner.js"></script>