@{
    ViewData["Title"] = "Home Page";
}
<style>
    .toggle-sidebar-btn{
        display:none;
    }

    .sidebar{
        display:none;
    }

    .main {
      
        margin-left:0 !important;
        padding:0 !important;
     
   
    }

 

    .footer {
        margin-left: 0 !important;
        display:none;
    }


    @@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}
@@media screen and (max-width: 500px) {
   
 html {
    font-size: 52%;
 }
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box; 
    width: 100%;
  

 
}

.navbar-front {
    height: 6rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container-fluid {
    display: flex;
    width: 100%;
        height: 100%;
    --bs-gutter-x: 0rem;



}

.left-container,.right-container {
    flex: 0 1 calc(50%);
    background-color: rgb(238, 238, 218);
    
}

.right-container {
        background-color: rgb(150, 150, 150);
    opacity: 0.8;
}

.footer {
    background-color: black;
    color: white;
}

@@media screen and (max-width: 900px) {
    body {
        overflow: auto;
    }

    .container-fluid {
        flex-direction: column-reverse;
        gap: 0rem;
      
    }

    .text-shadow{
        margin-left: 0 !important;
    }
  }



  .company-title {
    margin-top: 6rem;
    color:  #2593E2;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 4.2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    margin-left: -20rem;
  }
  

  .company-details {
    margin-left: 5rem;
    margin-bottom: 3rem;
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 2.2rem;
    color: #000;
    
  }
  
  .company-logo {
    height: 35rem;
    margin-bottom: 6.6rem;
  }

  .company-footer{
    background-color: #2B68DD;
    width: 100%;
  }

  .hotel-logo {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 1px solid #2593e2;
    margin-inline: auto;
    object-fit: cover;
    object-position: center;
  }
  

  .hotel-title{
    margin-top: 6rem;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 2.5rem;
    color: #fff;
    background-color: #0A559A;
    width: 70%;
    margin-inline: auto;
    text-align: center;
    padding: 0.8rem 1.5rem;
    margin-bottom: 2.5rem;
    letter-spacing: 0.1rem;
  }

  .scan-here-btn {
    display: block;
    font-size: 2rem;
    padding: 0.2rem 2rem;
    margin-top: 4rem;
    width: 25rem;
    margin-inline: auto;
  }

  .text-shadow {
    text-shadow: 0.8px 0.8px;
    margin-bottom: 5rem;
  }
 
  .hotel-footer {
        background-color: #ff7400;
  }

.qr-details {
    margin-bottom: 2rem;
   
}

  @@media screen and (max-width: 500px) {
    img.company-logo{
       width: 25rem;
       height: 25rem;
}




.company-title {
    margin-right: 0;
    margin-left: 0;
}

.hotel-footer {
    padding-bottom: 2rem;
}

}

.modal-body {
    height: 300px;
}

.qr-camera {
    width: 100%;
    height: 100%;
}

#btn-close {
   background-size: 50% !important;
}




</style>

<div class="container-fluid">
    <div class="left-container text-center">
        <h1 class="company-title">Blue Lotus ERP</h1>
        <p class="company-details">Manage your hospitality business</p>
        <img src="~/assets/img/section1.png" class="company-logo">
        <div class="company-footer text-center text-light">
            <div>9808606863, 9808606864</div>
            <div>Info@bluelotusdigital.com.np</div>
            <div>Birtamode, Jhapa</div>
            <div>bluelotusdigitalmedia.com.np</div>
        </div>
    </div>
    <div class="right-container text-center">

        <h2 class="hotel-title">Welcome to Bacon Rolls</h2>
        <img src="~/assets/img/bacon-restaurant-logo.jpg" class="hotel-logo">
        <a class="btn btn-secondary scan-here-btn" data-bs-toggle="modal" data-bs-target="#modal" id="btn-scan-qr">Scan Now</a>
        <p class="mt-2 text-shadow">Please scan for Menu</p>
        <div class="text-center qr-details"> Scan the qr code to find out our menu items and enjoy our service</div>
        <div class="hotel-footer text-center text-light">
            <div class="hotel-contact">97845412, 023-548748</div>
            <div>dinewine@restaurant.com</div>
            <div>Birtamode, Jhapa</div>
            <div>www.resturantdinewine.com</div>
        </div>


    </div>



    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-sm modals">

            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fw-bold text-center ms-auto" id="modalLabel">Qr Scanner</h3>
                    <button type="button" class="btn-close lg-btn" id="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="qr-camera">

                        <partial name="_QrScanner" />
                    </div>
                </div>
              @*  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>*@
            </div>
        </div>
    </div>

</div>
