@{
    ViewData["Title"] = "Home Page";
}
<style>
    .toggle-sidebar-btn{
        display:none;
    }

    .sidebar{
        display:none;
    }
</style>



<div class="container d-flex justify-content-center align-items-center hero-container">
    <div class="hero-section">
        <h1 class="text-capitalize h1-title text-primary">One App <br> is Enough for a Restaurant</h1>
        <p class="p-details mt-5 mb-3">
            ✨Efficiently manage restaurant with Blue Lotus✨All features in one platform✨
        </p>
        <div class="scan-button mt-5" width="300px" height="300px">
            <partial name="_QrScanner" />
        </div>
    </div>
</div>