@model IEnumerable<LotusRMS_Unit>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
@foreach(var item in Model){
    <div class="col-6 d-flex">
        <div class="mx-3 w-40">
            @item.Unit_Name
        </div>
        <div class="mx-3 w-20">
            @item.Unit_Symbol
        </div>
        <div class="mx-3 w-40">
            @item.Unit_Description
        </div>
    </div>


}
</div>