@using LotusRMS.Models.Viewmodels.Supplier;
@model CreateSupplierVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create Supplier</h5>

                <!-- Multi Columns Form -->
                <form class="row g-3" asp-area="" asp-action="Create" asp-controller="Supplier">
                    <div class="col-md-12">
                        <label for="sName" class="form-label">Full Name</label>
                        <input asp-for="FullName" class="form-control" id="sName" placeholder="Full Name">
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label for="sAddress" class="col-sm-6 col-form-label">Address</label>
                        <input asp-for="Address" class="form-control" id="sAddress" placeholder="Address">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label for="sPov" class="col-sm-6 col-form-label">PAN Or VAT</label>
                        <input asp-for="PanOrVat" class="form-control" id="sPov" placeholder="Pan Or Vat no.">
                        <span asp-validation-for="PanOrVat" class="text-danger"></span>
                    </div>

                    <div class="col-md-12">
                        <label for="sContact" class="col-sm-6 col-form-label">Contact Number</label>
                        <input asp-for="Contact" class="form-control" id="sContact" placeholder="Contact">
                        <span asp-validation-for="Contact" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label for="sContact1" class="col-sm-6 col-form-label">Contact Number 2 (Optional)</label>
                        <input asp-for="Contact1" class="form-control" id="sContact1" placeholder="Contact">
                        <span asp-validation-for="Contact1" class="text-danger"></span>
                    </div>

                    <div class="col-md-12 text-end">
                        <button type="reset" class="btn btn-danger me-3">Clear</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>