@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a asp-action="index" asp-area="checkout" asp-controller="home" asp-route-typeid="08db3684-cd1b-4de1-81c0-d68ea937fd2c" asp-route-tableid="08db3b22-a39a-4fe9-8e8f-fb9d53de313e">go to rs2</a>