@using LotusRMS.Models.Viewmodels.Unit;
@model CreateUnitVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add Menu Unit</h5>

                <form class="form" asp-action="create" asp-controller="MenuUnit" asp-area="Admin" asp-route-returnUrl="@ViewBag.ReturnUrl">
                    <div class="form-group mb-3">
                        <label for="mUnitName" class="mb-1">Unit Name</label>
                        <input asp-for="Unit_Name" class="form-control" placeholder="eg. Kilogram" id="mUnitName"/>
                        <span asp-validation-for="Unit_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label for="mUnitSymbol" class="mb-1">Unit Symbol</label>
                        <input asp-for="Unit_Symbol" class="form-control" placeholder="eg. k" id="mUnitSymbol" />
                        <span asp-validation-for="Unit_Symbol" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label for="mUnitDesc" class="mb-1">Unit Description</label>
                        <input asp-for="Unit_Description" class="form-control" placeholder="Write short discription of unit.." id="mUnitDesc" />
                        <span asp-validation-for="Unit_Description" class="text-danger"></span>
                    </div>

                    <table class="table table-striped mb-0">
                        <div class="col-md-12 ">

                            <div class="row mb-2">
                                <div class="col-12 my-auto">
                                    <label >Unit Detail (respect to unit)</label>

                                </div>
                            </div>



                        </div>
                        <div class="wrappers mt-1">
                            <div class="fieldset" id="fieldset_0">
                                <div class="fields">
                                    <div class="d-flex mb-2">
                                        <input name="Unit_Division[0].Title" class="unitDivision form-control" id="unitDivision_0" placeholder="Title eg. Full">
                                        
                                        <input type="number" class="form-control me-2" placeholder="Value eg. 1" name="Unit_Division[0].Value" />
                                        <button type="button" class="add_unit_button btn btn-primary" onclick="addDivision()"> <i class="fa-solid fa-plus"></i></button>

                                    </div>

                                </div>

                            </div>

                        </div>




                    </table>
                    <div class="col-md-12 text-end">
                        <button type="reset" class="btn btn-danger me-3">Clear</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/createupdatemenuunit.js">

    </script>
}