@using LotusRMS.Models.Viewmodels.MenuUnit
@model UpdateMenuUnitVM


<div class="row">
    <div class="col-lg-6 ">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Update Menu Unit </h5>
        <form class="form" asp-action="update" asp-controller="MenuUnit" asp-area="admin">
            <input asp-for="Id" hidden/>
            <div class="form-group mb-3">
                <label class="mb-1">Unit Name</label>
                <input asp-for="Unit_Name" class="form-control" placeholder="eg. Kilogram"/>
                <span asp-validation-for="Unit_Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="mb-1">Unit Symbol</label>
                <input asp-for="Unit_Symbol" class="form-control" placeholder="eg. k"/>
                <span asp-validation-for="Unit_Symbol" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="mb-1">Unit Description</label>
                <input asp-for="Unit_Description" class="form-control" placeholder="Write short discription of unit.."/>
                <span asp-validation-for="Unit_Description" class="text-danger"></span>
            </div>
            <table class="table table-striped mb-0">
                <div class="col-md-12 ">

                    <div class="row mb-2">
                        <div class="col-12 my-auto">
                            <label>Unit Detail (respect to unit)</label>

                        </div>
                    </div>



                </div>
                <div class="wrappers mt-1">
                    @foreach (var (item,i)  in Model.Unit_Division.Select((value,i)=>(value,i))){   
                        <div class="fieldset" id="fieldset_@i">
                        <div class="fields">
                            <div class="d-flex mb-2">
                                <input name="Unit_Division[@i].Title" class="unitDivision form-control" id="unitDivision_@i" placeholder="Title eg. Full" value="@item.Title">

                                <input type="number" class="form-control me-2" placeholder="Value eg. 1" name="Unit_Division[@i].Value" value="@item.Value"/>
                                <button type="button" class="add_unit_button btn btn-primary" onclick="addDivision()"> <i class="fa-solid fa-plus"></i></button>
                                    <input name="Unit_Division[@i].Id" class="form-control" id="unitDivisionId_@i"  value="@item.Id" hidden>

                            </div>

                        </div>

                    </div>
                    }
                </div>




            </table>

            <div class="col-md-12 text-end">
             
                <button type="submit" class="btn btn-primary mx-2">Update</button>
            </div>
        </form>

    </div>
</div>
</div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/CreateUpdateMenuUnit.js">

    </script>
}