@using LotusRMS.Models.Viewmodels.product
@model ProductVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    var title = "Create";
    if
    (Model.Id != Guid.Empty)
    {
        //edit
        title = "Update"; }
}

@*<style> 
    .accordion-button[aria-expanded="false"] {
        background-color: #808080;
        color:red;
    }

    .accordion-button[aria-expanded="true"] {
        background-color:#0d6efd;
    }


</style>*@

<div class="row">
<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@title Product</h5>

            <!-- Multi Columns Form -->
            <form class="row g-3 bordered" asp-action="UpCreate" asp-controller="Product" asp-area="admin">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.Id != Guid.Empty)
                {
                    //edit
                    <input type="hidden" asp-for="Id" />
                }
                <div class="col-md-11">
                    <label for="pName" class="form-label">Product Name</label>
                    <input asp-for="Product_Name" class="form-control" id="pName" placeholder="Product Name">
                    
                    <span asp-validation-for="Product_Name" class="text-denger"></span>
                </div>

                <div class="col-md-12">
                    <label for="pType"class="col-sm-12 col-form-label">Product Type</label>
                    <div class="row">
                        <div class="col-10">
                                <select asp-for="Product_Type_Id" class="form-control" id="pType" onchange="loadData(this)">
                                <option>--Select a product type--</option>
                                @foreach (var item in Model.TypeList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-primary" asp-area="admin" asp-action="create" asp-controller="producttype" asp-route-returnUrl="~/admin/product/upcreate">
                                <i class="bi bi-plus-lg"></i>
                            </a>
                        </div>
                    </div>
                    
                    <span asp-validation-for="Product_Type_Id" class="text-denger"></span>

                </div>
                <div class="col-md-12">
                    <label for="pCategory"class="col-sm-12 col-form-label">Product Category</label>
                    <div class="row">
                        <div class="col-10">

                                <select asp-for="Product_Category_Id" class="form-control" id="pCategory">
                                <option>--Select a category--</option>
                               
                            </select>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-primary" asp-area="admin" asp-action="create" asp-controller="productcategory" asp-route-returnUrl="~/admin/product/upcreate">
                                <i class="bi bi-plus-lg"></i>
                            </a>
                        </div>
                    </div>
                    
                    <span asp-validation-for="Product_Category_Id" class="text-denger"></span>

                </div>

                
                <div class="col-md-12">
                    <label for="pUnit" class="col-sm-12 col-form-label">Product Unit</label>
                    <div class="row" >
                         <div class="col-10">

                            <select asp-for="Product_Unit_Id" class="form-control" id="pUnit" >
                                <option>--Select a unit--</option>
                                @foreach (var item in Model.UnitList)
                                {
                                        <option value="@item.Value" >@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-primary" asp-area="admin" asp-action="create" asp-controller="ProductUnit" asp-route-returnUrl="~/admin/product/upcreate">
                                <i class="bi bi-plus-lg"></i>
                            </a>
                        </div>
                    </div>
                    
                    <span asp-validation-for="Product_Unit_Id" class="text-denger"></span>
                </div>
                <div class="col-md-12">
                    <label for="Quantity" class="form-label">Unit Quantity </label>
                        <input asp-for="Unit_Quantity" class="form-control" id="Quantity" onClick="this.select();">
                </div>
                <div class="col-md-12">
                    <label for="pDescription" class="form-label">Product Description</label>
                    <textarea asp-for="Product_Description" class="form-control" id="pDescription"> </textarea>
                    <span asp-validation-for="Product_Description" class="text-denger"></span>
                </div>

                <div class="form-check form-switch" data-bs-target="#open-div" data-bs-toggle="collapse" id="open-div">
                        <input class="form-check-input accordion-button" data-bs-toggle="collapse" type="checkbox" data-bs-target="#collapseOne" id="flexSwitchCheckDefault"
                           aria-expanded="true" aria-controls="collapseOne">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Has previous stock? </label>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <div id="collapseOne" class="accordion-collapse collapse hide" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Qty" class="form-label">Quantity</label>
                                        <input type="number" class="form-control" id="Qty">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="unit" class="form-label">Unit</label>
                                        <input type="number" class="form-control" id="unit">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 text-end">

                            

                                @if (Model.Id != Guid.Empty)
                                {
                                    //edit
                                    <button type="submit" class="btn btn-primary">Update</button>
                                
                                } else
                                {
                                    <button type="reset" class="btn btn-danger me-3">Clear</button>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                }
                                

                        </div>
                    </div>
                </div>

            </form><!-- End Multi Columns Form -->

        </div>
    </div>
    </div>
    </div>
    @section Scripts{
    <script src="~/js/createupdateproduct.js"></script>
}


