@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*// Comment Added*@

<div class="card">
            <div class="card-body">
              <h5 class="card-title">Organization Detail</h5>

              <!-- Multi Columns Form -->
              <form class="row g-3">
                <div class="col-md-12">
                  <label for="organizationName" class="form-label">Organization Name</label>
                  <input type="text" class="form-control" id="organizationName">
                </div>
                <div class="col-md-6">
                  <label for="regNumber" class="form-label">Registration Number</label>
                  <input type="number" class="form-control" id="regNumber">
                </div>
                <div class="col-md-6">
                  <label for="panNumber" class="form-label">PAN Number</label>
                  <input type="number" class="form-control" id="panNumber">
                </div>
                <div class="col-md-6">
                  <label for="Number" class="form-label">Contact Number</label>
                  <input type="number" class="form-control" id="Number">
                </div>
                <div class="col-md-6">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email">
                </div>
                
                <div class="col-12">
                  <label for="Country" class="form-label">Country</label>
                  <input type="text" class="form-control" id="inputAddress2">
                </div>
                <div class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-4">
                  <label for="inputState" class="form-label">State</label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="inputToal" class="form-label">Tole</label>
                  <input type="text" class="form-control" id="inputToal">
                </div>

                <label for="cPerson2" class="form-label" style="font-size: 2rem;">Contact Person Details</label>

                <div class="col-md-6">
                  <label for="cPerson1" class="form-label">First Person</label>
                  <input type="text" class="form-control" id="cPerson1">
                </div>
                <div class="col-md-6">
                  <label for="cPerson2" class="form-label">Second Person</label>
                  <input type="text" class="form-control" id="cPerson2">
                </div>
                <div class="col-md-6">
                  <label for="cPersonnum" class="form-label">Number</label>
                  <input type="number" class="form-control" id="cPersonnum">
                </div>
                 <div class="col-md-6">
                  <label for="cPersonnum" class="form-label">Number</label>
                  <input type="number" class="form-control" id="cPersonnum">
                </div>
                <div class="d-flex justify-content-end">
                  <button type="reset" class="btn btn-danger mx-2 ">Reset</button>
                   <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
              </form><!-- End Multi Columns Form -->

            </div>
          </div>
  